---
version: 2
interactions:
    - id: 0
      request:
        host: www.sbp.org.pk
        body: ""
        form: {}
        headers: {}
        url: https://www.sbp.org.pk/assets/document/mark-to-market-revaluation-exchange-rate-25-december-2030.pdf
        method: GET
      response:
        body: "\n\n\n\n\n\t\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n        <title>State Bank of Pakistan</title>\n        <meta name=\"description\" content=\"State Bank of Pakistan official website.\">\n\n        <link rel=\"canonical\" href=\"https://www.sbp.org.pk/assets/document/mark-to-market-revaluation-exchange-rate-25-december-2030.pdf\">\n\n        <meta property=\"og:title\" content=\"State Bank of Pakistan\">\n        <meta property=\"og:description\" content=\"State Bank of Pakistan official website.\">\n        <meta property=\"og:url\" content=\"https://www.sbp.org.pk/assets/document/mark-to-market-revaluation-exchange-rate-25-december-2030.pdf\">\n        <meta property=\"og:type\" content=\"webs[...]
